[[> "https://collection.itatti.harvard.edu/resource/yashiro/header"]]
<!-- main container open -->
<div id="main-container" class="container-fluid">
    <!-- /main container open -->


  [[#> rsp:ClipboardSidebar]]
  <div class="page__header-navtabs">
    [[> rsp:Header fc=fc fcLabel=fcLabel]]
  </div>

  [[#if (urlParam "tab")]]
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
    [[else]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
      [[/if]]
      <div>
        <bs-nav bs-style="tabs">
          <bs-nav-item event-key="summary">Summary</bs-nav-item>
          
          <bs-nav-item event-key="iiif">IIIF</bs-nav-item>
          
          <bs-nav-item event-key="annotations">
            Annotations <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
              ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
              }"
              template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
          </bs-nav-item>
          <bs-nav-item event-key="related">Explore Related</bs-nav-item>
        </bs-nav>

        <bs-tab-content unmount-on-exit=true>
          <bs-tab-pane event-key="summary">
            [[> summary]]
          </bs-tab-pane>
          
           <bs-tab-pane event-key="iiif">
             
             <div style='height: 65vh;'>
             
               <rs-iiif-mirador
                  
 image-or-region="[[this]]" 
                                
image-id-pattern=' BIND("image" AS ?type). BIND(?__iri__ AS ?imageIRI). ?__iri__ <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?image.
   ?image <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of> ?value .
  BIND( REPLACE(REPLACE(STR(?value), "https://ids.lib.harvard.edu/ids/iiif/", ""), "/info.json","") AS ?imageID)'
                                

                                
                                
               iiif-server-url="https://ids.lib.harvard.edu/ids/iiif/"        
 />
             </div>
             
          </bs-tab-pane>
          
          <bs-tab-pane event-key="annotations">
            [[> rsp:EntityAnnotations]]
          </bs-tab-pane>
          <bs-tab-pane class-name="vertical-nav-tabs" event-key="related">
            [[#> rsp:ExploreRelated]]
            [[> wikidata]]
            [[/ rsp:ExploreRelated]]
          </bs-tab-pane>
        </bs-tab-content>
      </div>
    </bs-tab-container>
    </bs-tab-container>
    [[/rsp:ClipboardSidebar]]

    <!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://collection.itatti.harvard.edu/resource/yashiro/footer"]]


<style>
    #yashiro-menu {
        margin-bottom: 0;
    }

    #main-container {
        padding-left: 0 !important;
    }
</style>