<style>
  .component-page-toolbar{
    display: none;
  }
</style>
<div style="margin-top:5%;">
  <div data-flex-layout="column center-center">
    <div>
       <h2>Welcome to Pharos Digital Collections</h2>
       <br>
       <h4>Display Villa I Tatti Artworks: <a href=https://collection.itatti.harvard.edu/resource/DisplayArtworks>here</a></h4>
       <h4>Display Villa I Tatti Photographs: <a href=https://collection.itatti.harvard.edu/resource/DisplayPhotos>here</a></h4>
       <br>
       <h4>Display Hertziana Artworks: <a href=https://collection.itatti.harvard.edu/resource/DisplayArtworks2>here</a></h4>
       <h4>Display Hertziana Photographs: <a href=https://collection.itatti.harvard.edu/resource/DisplayPhotos2>here</a></h4>
       <br>
       <h4>Display Frick Artworks: <a href=https://collection.itatti.harvard.edu/resource/DisplayArtworks3>here</a></h4>
       <h4>Display Frick Photographs: <a href=https://collection.itatti.harvard.edu/resource/DisplayPhotos3>here</a></h4>
       <br>
       <h4>Display Zeri Artworks: <a href=https://collection.itatti.harvard.edu/resource/DisplayArtworks4>here</a></h4>
       <h4>Display Zeri Photographs: <a href=https://collection.itatti.harvard.edu/resource/DisplayPhotos4>here</a></h4>
       <br>
       <h4>Display Marburg Artworks: <a href=https://collection.itatti.harvard.edu/resource/DisplayArtworks5>here</a></h4>
       <h4>Display Marburg Photographs: <a href=https://collection.itatti.harvard.edu/resource/DisplayPhotos5>here</a></h4>
    </div>
  </div>
</div>
