
<div class="page">

  <div class='page__body'> 

    
    <h1> Field Definition Category Mangager </h1>

<p>
  Categories are managed by the predicate "http://www.metaphacts.com/ontology/fields#category"
</p>

<p>
  
  We need a URI for the category i.e. http://www.metaphacts.com/ontologies/platform/FieldCategories/{{UUID}} <br>
  http://www.metaphacts.com/ontologies/platform/FieldWeight/{{UUID}}
  
  a label (http://www.w3.org/2000/01/rdf-schema#label) "fototeca" <br>
  and http://www.w3.org/2004/02/skos/core#inScheme 	http://www.metaphacts.com/ontologies/platform/FieldCategories
  <br />
  
  All within a Named Graph: http://www.metaphacts.com/ontologies/platform/FieldCustomizations
  
  </p>

<p>
  the field then i.e. 
  needs to have predicate 	http://www.metaphacts.com/ontology/fields#category  + Category (fototeca)
</p>
     <form action="http://collection.itatti.harvard.edu/rdf-graph-store" method="get">
 <input type='hidden' name='graph' value='http://www.metaphacts.com/ontologies/platform/FieldCustomizations' />
     
       
        <input type="submit" value="Submit1" />
    </form>
    
       <form action="https://collection.itatti.harvard.edu/rdf-graph-store?graph=http%3A%2F%2Fwww.metaphacts.com%2Fontologies%2Fplatform%2FFieldCustomizations" method="post" accept="application/xml">
        
         <input type='hidden' name='graph' value='http://www.metaphacts.com/ontologies/platform/FieldCustomizations' />
         <input type='hidden' name='Content-Type' value='application/xml' />
     
        <input type="submit" value="Submit" />
    </form>
    
    
       <form action="https://collection.itatti.harvard.edu/rdf-graph-store?graph=http://www.metaphacts.com/ontologies/platform/FieldCustomizations" method="put">
        
         <input type='hidden' name='graph' value='http://www.metaphacts.com/ontologies/platform/FieldCustomizations' />
         <input type='hidden' name='Content-Type' value='text/turtle' />
        <input type='hidden' name='body' value='<http://dad> <http://dada> "asdasd" ' />
       
        <input type="submit" value="Submi2t" />
    </form>

    <!--     BEGIN CATEGORY LIST --->
    
    
<semantic-context repository='default'>
<semantic-table 
  query='SELECT ?category ?label
         WHERE { GRAPH <http://www.metaphacts.com/ontologies/platform/FieldCustomizations> {
         ?category <http://www.w3.org/2004/02/skos/core#inScheme> <http://www.metaphacts.com/ontologies/platform/FieldCategories> .
         ?category <http://www.w3.org/2000/01/rdf-schema#label> ?label .
         } }'
              
                
  column-configuration='[
    {"variableName": "category", "displayName": "Category"}, 
    {"variableName": "label", "displayName": "Label"}
               ]'
>
      </semantic-table>
                </semantic-context>

        <!--     BEGIN CATEGORY FORM INPUT --->
      
      <semantic-form new-subject-template='http://www.metaphacts.com/ontologies/platform/FieldCategories/{{label}}'
        post-action='reload'
        browser-persistence=false
repositorfy='assets'
        persistence='sparql' 
        form-id='category'
        fields='[
          {
            "id": "label",
            "label": "Label",
            "description": "The name of the category",
            "xsdDatatype": "xsd:string",
            "minOccurs": "1",
            "maxOccurs": "unbound",
            "selectPattern": "SELECT $value WHERE { $subject rdfs:label $value }",
            "insertPattern": "INSERT { GRAPH <http://www.metaphacts.com/ontologies/platform/FieldCustomizations> { $subject rdfs:label $value} } WHERE {}",
            "deletePattern": "DELETE { $subject rdfs:label $value } WHERE {}"
          },
          {
            "id": "type",
            "label": "Type",
            "description": "The type of the created instance",
            "xsdDatatype": "xsd:anyURI",
            "selectPattern": "SELECT $value WHERE { $subject a $value }",
            "insertPattern": "INSERT { GRAPH <http://www.metaphacts.com/ontologies/platform/FieldCustomizations> { $subject <http://www.w3.org/2004/02/skos/core#inScheme> $value }} WHERE {}",
            "deletePattern": "DELETE { $subject <http://www.w3.org/2004/02/skos/core#inScheme> $value } WHERE {}"
          }
        ]'>
        <bs-panel>
          <h4>Create a new Category</h4>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for='label'></semantic-form-text-input>
           <semantic-form-hidden-input for='type'
            default-value='http://www.metaphacts.com/ontologies/platform/FieldCategories'></semantic-form-hidden-input>
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-default">Save</button>
          <button name="reset" class="btn btn-default">Reset</button>
        </bs-panel>
 
   
        <!--     BEGIN FIELD DEFINITION LIST --->
    
    
    <semantic-context repository='assets'>
            <semantic-search optimizer='none'
                             selector-mode='dropdown'
                             >
               <semantic-search-query-constant
                 domain='<http://www.metaphacts.com/ontology/fields#Field>'
                 query='
                  select ?subject {
                    <http://www.metaphacts.com/ontologies/platform#fieldDefinitionContainer> <http://www.w3.org/ns/ldp#contains> ?subject .
                  }
                 '
               ></semantic-search-query-constant>
               <div data-flex-layout="row stretch-stretch">
                 <div data-flex-self="size-1of3" style="flex: 0 0 20px;">

                 </div>

                 <semantic-search-result-holder>
                   <div data-flex-self="md-full">
                     <semantic-search-result>

                    
                       
                       
                                          <semantic-table
                          id='resources-results'
                          number-of-displayed-rows=10
                          query='SELECT DISTINCT ?subject ?ModificationDate ?categories WHERE { ?subject <http://www.w3.org/ns/prov#generatedAtTime> ?ModificationDate ; <http://www.metaphacts.com/ontology/fields#category> ?categories . }'
                          column-configuration='[
                                        {"variableName":"subject","displayName":"Field", "cellTemplate": "{{> field}}"},
                                        {"variableName":"ModificationDate","displayName":"Modified", "cellTemplate": "{{dateTimeFormat ModificationDate.value \"LLL\"}}" },
                                        {"variableName":"categories","displayName":"categories", "cellTemplate": "<mp-label iri=\"{{categories.value}}\"></mp-label>" }
                                       
                                   ]'
                        >
                         <template id='field'>
                           <span>
                             <mp-selection-toggle selection="resource-selection" tag="{{subject.value}}"></mp-selection-toggle>
                             <semantic-context repository='assets'>
                               {{#if label}}
                                 <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{subject.value}}' title='{{label.value}}'>{{label.value}}</semantic-link>
                               {{else}}
                                 <semantic-link style='max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;' uri='{{subject.value}}'></semantic-link>
                               {{/if}}
                             </semantic-context>

                           </span>
                         </template>

                       </semantic-table>
                     
                     
                     </semantic-search-result>
                   </div>
                 </semantic-search-result-holder>
              </div>
      </semantic-search>
    </semantic-context>
  </div>
</div>



