<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<h4 align="center"><b>Photographs</b></h4>
</div>

 <semantic-table 
                query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
											 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 									 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

											 SELECT  distinct $subject ?label ?work
											 WHERE {
     	                 	$subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
   											$subject rdfs:label ?label .
  											?subject crm:P2_has_type <http://vocab.getty.edu/page/aat/300128359> .
                        ?work <http://www.cidoc-crm.org/cidoc-crm/P16i_was_used_for> ?creation . 
  	  									?creation <http://www.cidoc-crm.org/cidoc-crm/P92_brought_into_existence> ?subject.
  											} ORDER BY ASC(?label)' 
                id="table-result" 
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "subject", "displayName": "Photograph"},             
                {"variableName": "label", "displayName": "Label"},
                {"variableName": "work", "displayName": "Artwork"}
                ]'>
</semantic-table>

<br>
<br>
<semantic-carousel
  query="
     PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
		 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

		SELECT  distinct $subject ?label ?thumbnail
		WHERE {
     	$subject a <http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>.
   		$subject rdfs:label ?label .
  		?subject crm:P2_has_type <http://vocab.getty.edu/page/aat/300128359> .
           ?subject <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?thumbnail .
      ?thumbnail crm:P2_has_type <https://collection.itatti.harvard.edu/resource/type/recto>
  }
  "
   
           options='{ "infinite": true, "slidesToShow": 10 }'
   tuple-template= '
         	<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:150px;width: 33%;display:inline;">
            <semantic-link class="grid-resource-link" title="{{label.value}}" iri="{{subject.value}}">
        		<div class="panel-body" style="height:150px;">
           		<div style="width:120px;height:120px;margin: 50px auto;" class="text-center">
          	 		<img src="{{thumbnail.value}}" style="max-height:100px; max-width:100px; margin: 10 auto;" class="img-rounded">
          		</div>
         		</div>
          	<div class="panel-footer" style="position: relative; border: none;    margin: 20px;">
            	{{label.value}}
         	 	</div>
                   </semantic-link>
       	 	</div>'      
                 
></semantic-carousel>
<br>