[[#if (ask 'ASK {{?? rso:PX_has_main_representation ?mainImage .} UNION {?? crm:P138i_has_representation ?representationImage .}  UNION {?? <http://www.cidoc-crm.org/cidoc-crm/P16i_was_used_for> ?creation .}  UNION {?? <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?vi .} BIND(COALESCE(?mainImage, ?representationImage) AS ?image) .}')]]
<div class="rs-page__summary-image">
  <rs-object-representations query='SELECT ?label (bound(?mainRepresentationImage) AS ?isMainRep) (STR(COALESCE(?mainRepresentationImage,?representationImage)) AS ?imgURL)
                   WHERE {
                     {
                        ?? rso:displayLabel ?label .
                     }
                     UNION {
                       ?? crm:P138i_has_representation ?representationImage .
                     }
                     UNION {
                        ?? rso:PX_has_main_representation ?mainRepresentationImage .
                     } UNION {
                         ?? <http://www.cidoc-crm.org/cidoc-crm/P16i_was_used_for> ?creation . 
         								 ?creation <http://www.cidoc-crm.org/cidoc-crm/P92_brought_into_existence> ?subject .
         								 ?subject <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?mainRepresentationImage.
                       
                     }
                      UNION {
                         ?? crm:P138i_is_represented_by ?vi.
     										 ?vi crm:P65i_is_shown_by ?subject .
      										?subject crm:P2_has_type ?type .
      										?type rdfs:label "Photo" .
                       	 ?subject <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?mainRepresentationImage.
                     }
                      UNION {
                         ?? crm:P138i_is_represented_by ?vi.
     										 ?vi crm:P65i_is_shown_by ?subject .
      										?subject crm:P2_has_type ?type .
      										?type rdfs:label "Print" .
                       	 ?subject <http://www.cidoc-crm.org/cidoc-crm/P138i_has_representation> ?mainRepresentationImage.
                     }
                     
                   }'
                   template='<img class="object-representations__image--rep" src="{{imgURL.value}}"/>'
                  >
  </rs-object-representations>

</div>
[[/if]]
