[[> "https://collection.itatti.harvard.edu/resource/yashiro/header"]]
<!-- main container open -->
<div id="main-container" class="container-fluid container-fluid-fullwidth">
<!-- /main container open -->

[[#> rsp:Resource fc='actors' fcLabel='Actor (Person)']]
  [[#*inline "summary"]]
    [[> rsp:ActorSummary]]
  [[/inline]]
  [[#*inline "wikidata"]]
    [[> rsp:ActorRelated]]
  [[/inline]]
[[/ rsp:Resource]]


<!-- main container end -->
</div>
<!-- /main container end -->
[[> "https://collection.itatti.harvard.edu/resource/yashiro/footer"]]
<style>
  .container-fluid-fullwidth {
  	padding-left: 0 !important;
    padding-right: 0 !important;
        margin-top: -20px !important;
  }
  .page.rs-page {
    padding-top: 0px !Important;
  }
  
  .page-breadcrumb {
  	display: none;
  }
  
  .rs-page__count--title {
  	display: none;
  }
  
  .rs-entity-fields .panel-heading {
  	display: none !Important;
  }
  
  #tab-container-tab-iiif {
    display: none !important;
  }

</style>